################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AccountsUIBlazor/v17
/.vs
/AccountsUIBlazor/.vs/AccountsUIBlazor/v17/.suo
/AccountsUIBlazor/AccountsUIBlazor/bin/Debug/net6.0
/AccountsUIBlazor/AccontApi.Core/obj/Debug/net6.0/AccountApi.Core.assets.cache
/AccountsUIBlazor/AccontApi.Core/obj/Debug/net6.0/AccountApi.Core.csproj.FileListAbsolute.txt
/AccountsUIBlazor/AccountApi.Application/obj/Debug/net6.0/AccountApi.Application.assets.cache
/AccountsUIBlazor/AccountApi.Application/obj/Debug/net6.0/AccountApi.Application.csproj.FileListAbsolute.txt
/AccountsUIBlazor/AccountsDbProject/AccountsDbProject.jfm
/AccountsUIBlazor/.vs/AccountsUIBlazor/DesignTimeBuild/.dtbcache.v2
/AccountsUIBlazor/AccontApi.Core/obj/AccontApi.Core.csproj.nuget.dgspec.json
/AccountsUIBlazor/AccontApi.Core/obj/AccontApi.Core.csproj.nuget.g.props
/AccountsUIBlazor/AccontApi.Core/obj/AccountApi.Core.csproj.nuget.dgspec.json
/AccountsUIBlazor/AccontApi.Core/obj/project.assets.json
/AccountsUIBlazor/AccountApi.Application/obj/AccountApi.Application.csproj.nuget.dgspec.json
/AccountsUIBlazor/AccountApi.Application/obj/project.assets.json
/AccountsUIBlazor/AccountApi.Infrastructure/obj/AccountApi.Infrastructure.csproj.nuget.dgspec.json
/AccountsUIBlazor/AccountApi.Infrastructure/obj/project.assets.json
/AccountsUIBlazor/AccountApi.Logging/obj/AccountApi.Logging.csproj.nuget.dgspec.json
/AccountsUIBlazor/AccountApi.Logging/obj/project.assets.json
/AccountsUIBlazor/AccountApi.Sql/obj/AccountApi.Sql.csproj.nuget.dgspec.json
/AccountsUIBlazor/AccountApi.Sql/obj/project.assets.json
/AccountsUIBlazor/AccountApi.Test/obj/AccountApi.Test.csproj.nuget.dgspec.json
/AccountsUIBlazor/AccountApi.Test/obj/project.assets.json
/AccountsUIBlazor/AccountsUIBlazor/obj/AccountsUIBlazor.csproj.nuget.dgspec.json
/AccountsUIBlazor/AccountsUIBlazor/obj/project.assets.json
