<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Accounts</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column navbar-nav-scroll h-100 text-nowrap">
        <div class="nav-item px-3">
            <NavLink class="nav-link " href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="JE">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Journel Entry
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddCustomer">
                <span class="oi oi-plus" aria-hidden="true"></span> Customer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddVendor">
                <span class="oi oi-plus" aria-hidden="true"></span> Vendor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddStockIn">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Stock
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddSales">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Sales
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CustomerPayments">
                <span class="oi oi-plus" aria-hidden="true"></span> Customer Accounts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="VendorPayments">
                <span class="oi oi-plus" aria-hidden="true"></span> Vendor Accounts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="VendorExpenses">
                <span class="oi oi-plus" aria-hidden="true"></span> Vendor Expenses
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CustomerBalanceCarryForward">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Balance Carry Forward
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CommissionPercentage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Commission Percentage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CommissionExpenses">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Commission Expenses
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CommissionEarned">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Commission Earned
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
